<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Добавить задачу</title>
</head>
<body>
    <h1>Добавить задачу</h1>
    <form method="post">
        {% csrf_token %}
        <label for="category">Категория:</label>
        <input type="text" id="category" name="category"><br>

        <label for="task_description">Описание задачи:</label>
        <input type="text" id="task_description" name="task_description"><br>

        <label for="start_date">Время старта:</label>
        <input type="date" id="start_date" name="start_date"><br>

        <label for="deadline">Время завершения:</label>
        <input type="date" id="deadline" name="deadline"><br>

        <label for="executor_name">Исполнитель:</label>
        <input type="text" id="executor_name" name="executor_name"><br>

        <button type="submit">ДОБАВИТЬ</button>
    </form>
</body>
</html>