<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Обновить задачу</title>
</head>
<body>
    <h1>Обновить задачу</h1>
    <form method="post">
        {% csrf_token %}

        <label for="category">Категория:</label>
        <input type="text" id="category" name="category" value="{{ task.category }}"><br>

        <label for="task_description">Описание задачи:</label>
        <input type="text" id="task_description" name="task_description" value="{{ task.task_description }}"><br>

        <label for="start_date">Время старта:</label>
        <input type="date" id="start_date" name="start_date" value="{{ task.start_date }}"><br>

        <label for="deadline">Время завершения:</label>
        <input type="date" id="deadline" name="deadline" value="{{ task.deadline }}"><br>

        <label for="executor_name">Исполнител:</label>
        <input type="text" id="executor_name" name="executor_name" value="{{ task.executor_name }}"><br>

        <button type="submit">ОБНОВИТЬ</button>
    </form>
</body>
</html>

