{% extends 'main/base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h3 class="display-4 fw-normal text-body-emphasis">О проекте</h3>
<p class=my_style>
    Проект "TenderID" поможет закупочным подразделений, а также структурным подразделениям непосредственно связанных с планированием
        и проведением закупок, в поиске необходимой информации о закупках, с планированием своего времени, а также в анализе эффективности
        закупчной деятельности</p>
    <br>
</div>

<div class="container px-4 py-5" id="featured-3">
    <h2 class="pb-2 border-bottom">Навигация</h2>

    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
          <!--<svg class="bi" width="1em" height="1em"><use xlink:href="#collection"></use></svg> -->
        </div>
        <h3 class="fs-2 text-body-emphasis"><a href="{% url 'info'%}">Информация</a></h3>
        <p>Содержит всю самую необходимую и актуальную нормативную документацию по закупочной деятельности</p>
      </div>

      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
          <!--<svg class="bi" width="1em" height="1em"><use xlink:href="#people-circle"></use></svg>-->
        </div>
        <h3 class="fs-2 text-body-emphasis"><a href="{% url 'tasks'%}">Задачи</a></h3>
        <p>Создавай свой список задач, ставь задачи другим, при необходимости редактируй и удаляй, но удалять может
            только автор задачи</p>
      </div>

      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
          <!--<svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"></use></svg>-->
        </div>
        <h3 class="fs-2 text-body-emphasis"><a href="{% url 'search'%}">Поиск закупки</a></h3>
        <p> По номеру сможешь найти актуальную информацию о статусе закупке из любого места.
            Главное не забудь номер закупки</p>
      </div>

      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
          <!--<svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"></use></svg>-->
        </div>
        <h3 class="fs-2 text-body-emphasis"><a href="{% url 'upload_file'%}">Анализ</a></h3>
        <p>Поможет в анализе закупочной деятельности филиалов компании. Выявит тенденцию и покажет слабые стороны
            при планировании и проведении закупок </p>
      </div>
    </div>
  </div>

{% endblock %}

