{% extends 'main/base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h3 class="display-4 fw-normal text-body-emphasis">Нормативная документация и полезные ссылки</h3>
</div>

<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">

    <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
              <div class="card-header py-3">
                <h4 class="my-0 fw-normal">223-ФЗ</h4>
              </div>
              <div class="card-body">
                <ul class="list-unstyled mt-3 mb-4">
                  <li class="min-height-item">Федеральный закон "О закупках товаров, работ, услуг отдельными видами юридических лиц" от 18.07.2011 №223-ФЗ<br></li>
                     </ul> <a href="media/223_FZ.pdf" download="223_FZ.pdf"><button type="button" class="btn btn-outline-primary">Скачать</button></a>
                     <a class="btn btn-outline-primary" href="https://www.consultant.ru/document/cons_doc_LAW_116964/">Ознакомиться</a>
              </div>
            </div>
    </div>

    <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
              <div class="card-header py-3">
                <h4 class="my-0 fw-normal">Положение 3168</h4>
              </div>
              <div class="card-body">
                <ul class="list-unstyled mt-3 mb-4">
                  <li class="min-height-item">Положение о закупках товаров, работ, услуг ПАО «Газпром» и КГГ.
                      Утверждено решением Совета директоров ПАО «Газпром» от 19 октября 2018 г. № 3168</li>
                     </ul> <a href="media/3168.pdf" download="P_3168.pdf"><button type="button" class="btn btn-outline-primary">Скачать</button></a>
                <a class="btn btn-outline-primary" href="https://tenders.gazprom.ru/book/polozhenie-o-zakupkakh/index/">Ознакомиться</a>
              </div>
            </div>
    </div>


    <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
              <div class="card-header py-3">
                <h4 class="my-0 fw-normal">Постановление 2013</h4>
              </div>
              <div class="card-body">
                <ul class="list-unstyled mt-3 mb-4">
                  <li class="min-height-item">Постановление Правительства РФ от 03.12.2020 №2013  "О минимальной доле закупок товаров российского происхождения"</li>
                </ul> <a href="media/2013.pdf" download="2013.pdf"><button type="button" class="btn btn-outline-primary">Скачать</button></a>
                <a class="btn btn-outline-primary" href="https://www.consultant.ru/document/cons_doc_LAW_369870/891cd78904ddd045d4f6a72d2168299228a9afd9/">Ознакомиться</a>
              </div>
            </div>
    </div>


    <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
              <div class="card-header py-3">
                <h4 class="my-0 fw-normal">Инструкция ТП</h4>
              </div>
              <div class="card-body">
                <ul class="list-unstyled mt-3 mb-4">
                  <li class="min-height-item">Инструкция по работе с Торговым порталом от 27.11.2024</li>
                </ul> <a href="media/TP.pdf" download="TP.pdf"><button type="button" class="btn btn-outline-primary">Скачать</button></a>
                <a class="btn btn-outline-primary" href="https://etpgpb.ru/uploads/attachment/file/4626/Инструкция_Заказчика_по_работе_с_Торговым_порталом.__27.11.2024_.pdf">Ознакомиться</a>
              </div>
            </div>
    </div>


    <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
              <div class="card-header py-3">
                <h4 class="my-0 fw-normal">Предквалификация</h4>
              </div>
              <div class="card-body">
                <ul class="list-unstyled mt-3 mb-4">
                  <li class="min-height-item">Порядок проведения предквалификации</li>
                </ul> <a href="media/PKF.pdf" download="PKF.pdf"><button type="button" class="btn btn-outline-primary">Скачать</button></a>
                <a class="btn btn-outline-primary" href="https://etpgpb.ru/files/static_pages/pao_gazprom/poryadok_provedeniya_predkvalifikacii.pdf">Ознакомиться</a>
              </div>
            </div>
    </div>


    <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
              <div class="card-header py-3">
                <h4 class="my-0 fw-normal">Единый Реестр МТР</h4>
              </div>
              <div class="card-body">
                <ul class="list-unstyled mt-3 mb-4">
                  <li class="min-height-item">Единый реестр МТР и корпоративная приемка</li>
                </ul> <a href="media/MTP.pdf" download="MTP.pdf"><button type="button" class="btn btn-outline-primary">Скачать</button></a>
                <a class="btn btn-outline-primary" href="https://tenders.gazprom.ru/book/informatsiya-dlya-postavshchikov/index/edinyy-reestr-mtr/">Ознакомиться</a>
              </div>
            </div>
    </div>


{% endblock %}
